<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markodevcic.peko">

    <application>
        <activity
            android:name=".PekoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/TransparentTheme" />
    </application>
</manifest>
