<manifest package="com.markodevcic.peko"
          xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".PekoActivity"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TransparentTheme"/>
    </application>
</manifest>
