<manifest package="com.markodevcic.peko"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".PekoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"/>
    </application>
</manifest>
