language: android
android:
  components:
    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-26
    - extra-android-m2repository
    
before_install:
 - chmod +x gradlew

script:
  - ./gradlew build
